<nav class="navbar navbar-expand-md navbar-dark fixed-top primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/'routerLinkActive='active'>Dating App</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="accountService.currenUser$ | async">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink='/members' routerLinkActive='active'>Matches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/messages'routerLinkActive='active'routerLinkActive='active'>Messages</a>
              </li>
            </ng-container>    
            <li class="nav-item">
              <a class="nav-link" routerLink='/errors'routerLinkActive='active'routerLinkActive='active'>Errors</a>
            </li>     
          </ul>

          <div class="dropdown"*ngIf="(accountService.currenUser$ | async) as user" dropdown>
            <a href="" class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *droppdownMenu>
              <a class="dropdown-item">Edit Profile</a>
              <div class="dropown-divider"></div>
              <a class="dropdown-item" (click)="logout()"></a>
            </div>
          </div>

          <form *ngIf="(accountService.currenUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2" 
            type="search" 
            placeholder="Username">
            <input
            name="password"
            [(ngModel)]="model.password" 
            class="form-control me-2" 
            type="search" 
            placeholder="Password">
            <button class="btn btn-success" type="submit">Login</button>
          </form>
        </div>
    </div>
    
  </nav>